@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet');

* {
    font-family: 'montserrat', montserrat-regular;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #e5eaef;
    color: rgb(22, 5, 52);
}

a,
a:hover,
a:visited {
    color: unset;
    text-decoration: none;
}